In [2]:
import pandas as pd
df = pd.read_csv("spam.csv",encoding='latin')

In [3]:
df.head(15)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN
10,ham,I'm gonna be home soon and i don't want to tal...,NaN,NaN,NaN
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",NaN,NaN,NaN
12,spam,URGENT! You have won a 1 week FREE membership ...,NaN,NaN,NaN
13,ham,I've been searching for the right words to tha...,NaN,NaN,NaN
14,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,NaN,NaN,NaN

In [5]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3','Unnamed: 4'], inplace=True)

In [7]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df.shape

(5572, 2)

In [9]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [11]:
df['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [12]:
import re
import string
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
import nltk
nltk.download('punkt')
nltk.download('stopwords')

def clean_text(text):
    text = re.sub(r'http\S+', '', text)       # Remove URLs
    text = re.sub(r'@[\w]+', '', text)        # Remove usernames
    text = re.sub(r'[^a-zA-Z\s]', '', text)   # Remove special characters and numbers
    text = re.sub(r'\s+', ' ', text)          # Remove extra whitespaces
    text = text.lower()                       # Convert to lowercase
    tokens = word_tokenize(text)               # Tokenization
    stop_words = set(stopwords.words('english'))
    tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]
    cleaned_text = ' '.join(tokens)
    return cleaned_text

[nltk_data] Downloading package punkt to C:\Users\tarun
[nltk_data]     purohit\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\tarun
[nltk_data]     purohit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
df['v2'] = df['v2'].apply(clean_text)

In [14]:
df.head(15)

      v1                                                 v2
0    ham  go jurong point crazi avail bugi n great world...
1    ham                              ok lar joke wif u oni
2   spam  free entri wkli comp win fa cup final tkt st m...
3    ham                u dun say earli hor u c alreadi say
4    ham          nah dont think goe usf live around though
5   spam  freemsg hey darl week word back id like fun st...
6    ham      even brother like speak treat like aid patent
7    ham  per request mell mell oru minnaminungint nurun...
8   spam  winner valu network custom select receivea pri...
9   spam  mobil month u r entitl updat latest colour mob...
10   ham  im gon na home soon dont want talk stuff anymo...
11  spam  six chanc win cash pound txt csh send cost pda...
12  spam  urgent week free membership prize jackpot txt ...
13   ham  ive search right word thank breather promis wo...
14   ham                                        date sunday

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from gensim.models import Word2Vec

In [16]:
tfidf_vectorizer = TfidfVectorizer(max_features=1000, ngram_range=(1, 2)) 
X_tfidf = tfidf_vectorizer.fit_transform(df['v2'])

In [18]:
X_train_tfidf, X_test_tfidf, y_train, y_test = train_test_split(X_tfidf, df['v1'], test_size=0.2, random_state=42 )

In [19]:
print(X_train_tfidf.shape,X_test_tfidf.shape)

(4457, 1000) (1115, 1000)

In [20]:
print(X_train_tfidf)

  (0, 994)	0.41207345535612827
  (0, 126)	0.37836138000124797
  (0, 368)	0.4028040837493897
  (0, 541)	0.4446266606974547
  (0, 418)	0.48003659749549327
  (0, 808)	0.31090030764090143
  (1, 526)	0.5733332628124603
  (1, 56)	0.5600819623664328
  (1, 636)	0.4048587933214588
  (1, 629)	0.44009831021588364
  (2, 330)	0.4877883207728879
  (2, 738)	0.6505866019601694
  (2, 120)	0.5820649684249053
  (3, 642)	0.8040603335140022
  (3, 503)	0.5945477105071987
  (4, 898)	0.25454604852852974
  (4, 655)	0.24866279286348386
  (4, 143)	0.24362311454182312
  (4, 412)	0.24135021818695765
  (4, 90)	0.2392151602477162
  (4, 764)	0.2392151602477162
  (4, 806)	0.2460528827384034
  (4, 5)	0.2392151602477162
  (4, 669)	0.2392151602477162
  (4, 268)	0.2352980525087467
  :	:
  (4450, 324)	0.2649426805092973
  (4450, 814)	0.4325113211823556
  (4450, 214)	0.30154955807092304
  (4452, 335)	0.4782640971565171
  (4452, 647)	0.44262881532520587
  (4452, 778)	0.36231977154357947
  (4452, 102)	0.4262935356404586
  (4452, 137)	0.3941557943322097
  (4452, 86)	0.21926907515416164
  (4452, 333)	0.24270078761721298
  (4453, 93)	0.4315285305074748
  (4453, 414)	0.43751621654478756
  (4453, 795)	0.4530013833934986
  (4453, 462)	0.36190050756870845
  (4453, 794)	0.35317055778474143
  (4453, 413)	0.3169217749346655
  (4453, 86)	0.24700526830364833
  (4454, 382)	0.8562179423184298
  (4454, 418)	0.5166147841980464
  (4455, 863)	0.5056597182889719
  (4455, 592)	0.6127486232419113
  (4455, 439)	0.6073280612774778
  (4456, 529)	0.6502883134376329
  (4456, 974)	0.607220671928543
  (4456, 333)	0.45651743119960636

In [22]:
print(y_train)

1978     ham
3989    spam
3935     ham
4078     ham
4086    spam
        ...
3772     ham
5191     ham
5226     ham
5390     ham
860      ham
Name: v1, Length: 4457, dtype: object

In [23]:
lr_model = LogisticRegression(max_iter=1000)
lr_model.fit(X_train_tfidf, y_train)
y_pred = lr_model.predict(X_test_tfidf)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9605381165919282
Classification Report:
              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       0.99      0.71      0.83       150

    accuracy                           0.96      1115
   macro avg       0.97      0.86      0.90      1115
weighted avg       0.96      0.96      0.96      1115

In [24]:
rf_model = RandomForestClassifier(n_estimators=100)
rf_model.fit(X_train_tfidf, y_train)
y_pred = rf_model.predict(X_test_tfidf)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9766816143497757
Classification Report:
              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       965
        spam       0.98      0.85      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115

In [25]:
nb_model = MultinomialNB()
nb_model.fit(X_train_tfidf, y_train)
y_pred_nb = nb_model.predict(X_test_tfidf)
accuracy_nb = accuracy_score(y_test, y_pred_nb)
print("Multinomial Naive Bayes Accuracy:", accuracy_nb)
print("Multinomial Naive Bayes Classification Report:")
print(classification_report(y_test, y_pred_nb))

Multinomial Naive Bayes Accuracy: 0.9739910313901345
Multinomial Naive Bayes Classification Report:
              precision    recall  f1-score   support

         ham       0.97      1.00      0.99       965
        spam       0.97      0.83      0.90       150

    accuracy                           0.97      1115
   macro avg       0.97      0.91      0.94      1115
weighted avg       0.97      0.97      0.97      1115

In [26]:
svm_model = SVC()
svm_model.fit(X_train_tfidf, y_train)
y_pred_svm = svm_model.predict(X_test_tfidf)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print("Accuracy:", accuracy_svm)
print("Classification Report:")
print(classification_report(y_test, y_pred_svm))

Accuracy: 0.9775784753363229
Classification Report:
              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       965
        spam       0.99      0.84      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115